#boton_iniciar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#inicio {
    background-image: url("../media/timeline.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#link_admin {
    position: relative;
    float: right;
}