@font-face{
    font-family:Arcade;
    src: url(ARCADECLASSIC.TTF);
}


#boton_iniciar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#inicio {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#link_admin {
    position: relative;
    float: right;
}
#cartas_workspace{
    position: fixed;
    top: 60%;
    left: 60%;
    transform: translate(-40%,-40%);
}
#hoja{
    width: 40%;
     position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-30%,-50%);   
    text-align: center;
    align-items: center;
    
}

.bt_iniciar{
    position: absolute;
    top: 0;
    right: 0;
    margin:20px;
}

#input_alineado{
   text-align: center;
}

#cuerpo_ochentero{
    font-family: Arcade;
    letter-spacing: 5px;
    color:white;
    background-color: black;

}

#cuerpo_ochentero_centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tabla_ranking{
    font-family: Arcade;
    color:white;
    font-size: 35px;
    width: 60%;
    background-color: black;  
    text-align: center;
    align-items: center;
    letter-spacing: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}

#centrado_titulo{
    font-family: Arcade;
    letter-spacing: 5px;
    font-size: 60px;
    color:white;
    text-align: center;
}
